


<mat-toolbar color="primary">
    <span class="title">Welcome Guest</span>
    <button mat-button> Home</button>
    <button mat-button> Lead</button>
    <button mat-button> Quotation</button>
    <button mat-button> Purchase Order</button>
    <button mat-button> Invoices</button>
    <button mat-button> Track Lead</button>
    <button mat-button> Inventory</button>
    <button mat-button> Admin</button>
    <span class="spacer"></span>
    <input matInput placeholder="Search" class="searchinput">
    <button mat-raised-button color="primary" class="Search">Search</button>
</mat-toolbar>

  
 